body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}

:root {
  --color-link: #2e2f42;
  --active-link: #404bbf;
  --active-bg-btn: #404bbf;
  --color-title: #2e2f42;
  --color-text: #434455;
  --margin-gap: 24px;
  --border-color: #e7e9fc;
  --hero-bg-btn: #4d5ae5;
}
/* =================== Componets =================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
  border: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 8px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =================== /Componets =================== */

/* =================== Header nav =================== */

.header {
  border-bottom: 1px solid var(--border-color);
}
.header-inner {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.header-log-span {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-link);
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--active-link);
}
.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: var(--active-link);
}
/* =================== /Header nav =================== */

/* =================== Hero =================== */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-bg.jpg');
  background-size: cover;
  background-color: #464766;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--hero-bg-btn);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-bg-btn);
}
/* =================== /Hero =================== */

/* =================== Feature =================== */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list {
  display: flex;
  gap: var(--margin-gap);
}
.feature-item {
  flex-basis: calc((100% -72px) / 4);
}
.icon-svg {
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
}
/* .feature-icon {
  display: block;

} */

/* =================== /Feature =================== */

/* =================== Our Works =================== */
.our-works {
  padding-bottom: 120px;
}
.work-list {
  display: flex;
  gap: var(--margin-gap);
}
.work-item {
  flex-basis: calc((100% -48px) / 3);
}

/* =================== /Our Works =================== */

/* =================== Team =================== */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: var(--margin-gap);
}
.team-item {
  flex-basis: calc((100% -72px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  text-align: center;
  padding: 32px 16px;
}
.team-name {
  margin-bottom: 8px;
}
/* =================== /Team =================== */

/* =================== Portfolio =================== */
.card-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  gap: var(--margin-gap);
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--active-bg-btn);
  border: 1px solid transparent;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px var(--margin-gap);
}
.card-item {
  max-width: 360px;
  flex-basis: calc((100% -48px) / 3);
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.card-title {
  margin-bottom: 8px;
}
/* =================== /Portfolio =================== */

/* =================== Footer =================== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-log-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
/* =================== /Footer =================== */
